.backgroundImage {
  background-image: url('/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 152vh; 
  height: 100vh;
  margin-top: -5rem;
  index: -50;
}

@media (max-width: 768px) {
  .backgroundImage {
    background-position: top;
  }
}

@media (max-width: 480px) {
  .backgroundImage {
    background-image: url('/heroMobile.png');
  }
}